button
{
    width: 3rem;
    height: 3rem;
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.container
{
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    margin: 5rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    .boxChild{
        width: 4rem;
        height: 4rem;
        background-color: green;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.testfalse
{
    .boxChild{
        width: 4rem;
        height: 4rem;
        background-color: red  !important;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 834px) and (max-width: 1365px) {
    .container
    {
        .boxChild
        {
            background-color: orange;
        }
    }
    
}